.app-add-product {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  mat-card {
    width: 33%;
    form {
      display: flex;
      flex-direction: column;
    }
  }
}
