<div class="app-add-product">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Shopping Cart</mat-card-title>
      <mat-card-subtitle>Go for it!</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
        <mat-form-field>
          <input
            formControlName="productName"
            matInput
            placeholder="Add Product"
          />
        </mat-form-field>
        <button
          type="submit"
          mat-raised-button
          color="primary"
          [disabled]="!productForm.valid"
        >
          Add To Cart
        </button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
